{% if page.permalink %}
<meta property="og:url" content="{{ site.url }}{{ page.permalink }}" />
{% else %}
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
{% endif %}
<meta property="og:site_name" content="codemunkies ltd" />

{% if page.title %}
<meta property="og:title" content="{{ page.title }}" />
{% else %}
<meta property="og:title" content="codemunkies ltd" />
{% endif %}

{% if page.description %}
<meta property="og:description" content="{{ page.description }}" />
{% else %}
<meta property="og:description" content="codemunkies web site, blog updated by Steve Hocking - @SteveHocking" />
{% endif %}

<meta property="og:image" content="http://www.codemunki.es/cm.png" />
