<meta name="twitter:card" content="summary" />
<meta name="twitter:site" content="@codemunkies" />

{% if page.title %}
<meta name="twitter:title" content="{{ page.title }}" />
{% else %}
<meta name="twitter:title" content="codemunkies by Steve Hocking" />
{% endif %}

{% if page.description %}
<meta name="twitter:description" content="{{ page.description }}" />
{% else %}
<meta name="twitter:description" content="codemunkies web site, blog updated by Steve Hocking - @SteveHocking" />
{% endif %}

{% if page.hero-image %}
<meta name="twitter:image" content="{{ site.url }}{{ page.hero-image }}" />
{% else %}
<meta name="twitter:image" content="{{ site.url }}/cm.png" />
{% endif %}
